<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <nav>
        <button id="bancos">Bancos</button>
        <button id="entrada">Entrada</button>
        <button id="saida">Saída</button>
        <button id="caixa">Caixinhas</button>
    </nav>
    <main>
        <div id="es">

        </div>
        <div id="me">
                
        </div>
    </main>
</body>
</html>